





#section{
    margin-top: 200px;
}
#cnBtn{
    border: solid;
    border-radius: 3px;
    border-width: 1px;
    border-color: gray;
    background-color: lightgray;
    box-shadow: 1px 1px 1px rgb(151, 151, 143);
    height: 45px;
    /*margin-left: 38%;*/
    /*margin-right: 38%;*/
    margin: 0 25% 0 44%;
    padding-left: 2%;
    padding-right: 2%;
    font-weight: bolder;
}
#cnBtn:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/*modal*/
#modal1, #modal2{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: solid;
    border-color: gray;
}
.modalSecondDiv{
    border: solid;
    border-color: gray;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 70%;
    width: 60%;
    background-color: #878c96;
}
.modalContent{
    margin: 10% 11%;
}
#conDel, #delCancel, #cancelUpdate, #conUpdate{
    border: solid;
    border-radius: 3px;
    border-width: 1px;
    border-color: gray;
    background-color: lightgray;
    box-shadow: 1px 1px 1px rgb(151, 151, 143);
    height: 45px;
    margin-right: .7%;
    margin-top: 7%;
    padding-left: 2%;
    padding-right: 2%;
    font-weight: bolder;
}

#conDel:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
#delCancel:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
#cancelUpdate:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
#conUpdate:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}