/* Style the header with a white background and some padding */

.header {
  overflow: hidden;
  background-color: #ffffff;
  padding: 40px 10px;
  border-bottom: 1px dotted rgb(114, 114, 114);
  width: 100%;
}

/* Style the header links */
.header a {

  color: black;
  text-align: center;
  padding: 12px 20px;
  text-decoration: none;
  line-height: 25px;
  border-radius: 7px;
  margin-right: 150px;
  border: 0.5px dotted rgb(193, 193, 193);
  text-align: center;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
#header-name {
  font-size: 36px;
  font-weight: bold;
  padding-left: 10px;
}

/* Change the background color on mouse-over */
.header a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active/current link*/
.header a.active {
  background-color: dodgerblue;
  color: white;
}

#logo-image {
  width: 20rem;
  margin-left: 0;
}
.header-right {
  float: right;
}

/* Added media queries for responsiveness - MOBILE FIRST DESIGN */

@media screen and (max-width: 769px) {
  .header a {
    float: none;
    display: block;
    width: 100%;
    padding-right: 0;
  }
  .header-right {
    float: none;
  }
  #logo-image {
    margin-left: 7rem;
  }
}

@media screen and (min-width: 770px) and (max-width: 947px) {

.header a {
  float: left;
  width: 46%;
  margin: 10px;
}
.header-right {
  float: none;
}
#logo-image {
  width: 20rem;
  margin-left: 16rem;
}
}

@media screen and (min-width: 948px) and (max-width: 1279px) {

  .header a {
    float: left;
    width: 22%;
    margin: 10px;
  }
  .header-right {
    float: none;
  }
  #logo-image {
    width: 20rem;
    margin-left: 26rem;
  }
  }

  @media screen and (min-width: 1280px) and (max-width: 1799px){
    .header a{
      margin-right: 120px;
    }
    #menu-links-div{
        padding-top: 33px;;
    }
  }


  @media screen and (min-width: 1800px) {
    .header a{
      margin-right: 215px;
    }
    #menu-links-div{
        padding-top: 26px;;
    }
  }

 /* END OF MEDIA QUERIES ************************************************************************************************* */

