#card {
    width: 35rem; 
    margin: 0 auto; 
    margin-bottom: 50px;
}

#feature-buttons button {
    margin-inline: 1.7rem;
}

/* overiding the bootstrap accordion button features */
.accordion-button-adapted {
    padding: var(--bs-accordion-btn-padding-y) var(--bs-accordion-btn-padding-x);
    overflow-anchor: none;
    transition: var(--bs-accordion-transition);

}

.accordion-item {
    margin-top: 30px;
}

#previous-comments{
    margin: 0 auto;
    margin-top: 25px;
}
    